html, body {
  font-family: Copperplate, fantasy;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  background-color: #FFA07A;
}

body{
  display: block;
  margin: 8px;
}

#content {
  border: solid 1px #FFB6C1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 95%;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #FFFAF0;
}

#mainHeader {
  font-family: Papyrus, fantasy;
}


#output{
  border: solid 1px #FFB6C1;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 95%;
  margin: 20px;
  margin-bottom: 5px;
  background-color: #FFFAF0;
}

h1{
    font-family: Papyrus, fantasy;
    text-decoration: underline;
    text-align: center;
}


h2{
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
}


p{
  font-size: 20px;
  text-align:center;
}
